.chat-list {
    background-color: var(--modal-colour-darker);
    min-width: var(--messages-width);
    max-width: var(--messages-width);
    position: relative;
    user-select: none;

    .chat-list-container {
        padding: 20px;

        * {
            text-decoration: none;
        }

        .projects-list {
            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                margin-bottom: 12px;
            }

            .chat-item {
                margin-bottom: 8px;

                .chat-link {
                    .container {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        transition: background-color 100ms;

                        cursor: pointer;
                        padding: 12px;
                        border-radius: var(--border-radius-small);

                        .chat-photo {
                            height: 30px;
                            width: 30px;
                            object-fit: cover;
                            border-radius: 30px;
                        }

                        .lastMessage {
                            display: -webkit-box;
                            line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            font-size: 0.8em;
                            line-height: 0.8em;
                            height: 0.8em;
                            color: var(--text-color-hover);
                            font-weight: var(--weight-light);
                        }

                        &:hover {
                            background-color: var(--modal-colour)
                        }

                        &:active {
                            background-color: var(--modal-colour-light)
                        }
                    }
                }

            }
        }

        .project-chat-list {
            .head {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;

                .back {
                    background-color: var(--modal-colour);
                    padding: 4px 20px;
                    border-radius: 20px;
                    font-size: 0.8em;
                    font-weight: var(--weight-bold);

                    &:hover {
                        background-color: var(--modal-colour-light);
                    }

                    &:active {
                        background-color: var(--modal-colour-lighter);
                    }
                }

                .menu {
                    stroke: none;
                    fill: var(--text-color);
                    cursor: pointer;

                    &:hover {
                        fill: var(--text-color-hover);
                    }
                }
            }

            .title {
                display: flex;
                gap: 12px;

                .organisation-image {
                    height: 60px;
                    width: 60px;
                    border-radius: 60px;
                }

                .organisation-name {
                    color: var(--text-color-dark);
                }
            }

            .project-chats {
                margin-top: 20px;

                .chat-item {
                    margin-bottom: 8px;
    
                    .chat-link {
                        display: flex;
                        align-items: center;
                        gap: 8px;
    
                        cursor: pointer;
                        padding: 2px 12px;
                        border-radius: var(--border-radius-small);

                        .chat-name {
                            font-size: 0.8em;
                        }
    
                        .chat-icon {
                            color: var(--primary-colour);
                        }
    
                        &:hover {
                            background-color: var(--modal-colour)
                        }
    
                        &:active {
                            background-color: var(--modal-colour-light)
                        }
                    }
    
                }
            }
        }
    }
}

[data-current],
[data-ancestor]  {
    background-color: var(--modal-colour);
}