@import './createTask.css';
@import './taskCard.css';

.new-job {

    * {
        text-decoration: none;
    }

    .new-job__header {
        background-color: var(--modal-colour-darker);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 2rem;

        .new-job__back {
            display: flex;
            justify-content: center;
            align-items: center;

            .new-job__back-link {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8px;
                background-color: var(--modal-colour-light);
                border: 1px solid var(--modal-colour-lightererer);
                border-radius: 20px;
                padding: 4px 12px;
                font-size: 0.725rem;
                font-weight: var(--weight-bold);

                .icon {
                    path {
                        stroke-width: 8;
                    }
                }

                &:hover {
                    background-color: var(--modal-colour-lighter);
                }

                &:active {
                    background-color: var(--modal-colour-lighterer);
                }
            }
        }

        .new-job__submit {
            .new-job__submit-button {
                padding: 0.75rem 1rem;
                background-color: var(--primary-colour);
                border-radius: 2rem;
                font-size: 1rem;
                font-weight: var(--weight-bold);

                &:hover {
                    background-color: var(--primary-colour-light);
                }

                &:active {
                    background-color: var(--primary-colour-lighter);
                }
            }
        }
    }

    .new-job__create {
        min-height: 100vh;
        width: 100%;
        padding: 2rem;
        margin-bottom: 4rem;

        .new-job__create-section {
            background-color: var(--modal-colour);
            border: 1px solid var(--modal-colour-lighter);
            border-radius: var(--border-radius);
            padding: 2rem;
            margin: 2rem 0;

            h2 {
                margin-bottom: 1rem;
            }
        }

        .new-job__create__branding {
            position: relative;
            margin-top: 0;
            padding-bottom: 0;

            .new-job__change-image {
                transition: all 100ms;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: var(--border-radius);
                display: none;
                justify-content: center;
                align-items: center;
            }

            .new-job__banner-img {
                border-radius: var(--border-radius);
                width: 100%;
                height: 300px;
                background-size: cover;
                cursor: pointer;
                position: relative;
                overflow: hidden;

                img {
                    transition: all 200ms;
                    object-fit: cover;

                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    img {
                        filter: blur(5px) brightness(0.6);
                    }

                    .change-image {
                        display: flex;
                    }
                }
            }

            .new-job__logo-img {
                height: 140px;
                width: 140px;
                border-radius: 35px;
                background-size: cover;
                background-position: 50%;
                cursor: pointer;
                position: relative;
                bottom: 70px;
                left: 70px;
                outline: 8px solid var(--modal-colour-dark);
                overflow: hidden;

                img {
                    transition: all 200ms;

                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    img {
                        filter: blur(5px) brightness(0.6);
                    }

                    .change-image {
                        display: flex;
                    }
                }
            }
        }
    }
}@import '../../../components/UI/Fields/TextField.css';
@import '../../../components/UI/Fields/RichTextField.css';
@import '../../../components/UI/Fields/TextDropdownField.css';
@import '../../../components/UI/Fields/FileField.css';
@import '../../../components/FileUploader/main.css';

.new-job {

    * {
        text-decoration: none;
    }

    .new-job__header {
        background-color: var(--modal-colour-darker);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 2rem;

        .new-job__back {
            display: flex;
            justify-content: center;
            align-items: center;

            .new-job__back-link {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8px;
                background-color: var(--modal-colour-light);
                border: 1px solid var(--modal-colour-lightererer);
                border-radius: 20px;
                padding: 4px 12px;
                font-size: 0.725rem;
                font-weight: var(--weight-bold);

                .icon {
                    path {
                        stroke-width: 8;
                    }
                }

                &:hover {
                    background-color: var(--modal-colour-lighter);
                }

                &:active {
                    background-color: var(--modal-colour-lighterer);
                }
            }
        }

        .new-job__submit {
            .new-job__submit-button {
                padding: 0.75rem 1rem;
                background-color: var(--primary-colour);
                border-radius: 2rem;
                font-size: 1rem;
                font-weight: var(--weight-bold);

                &:hover {
                    background-color: var(--primary-colour-light);
                }

                &:active {
                    background-color: var(--primary-colour-lighter);
                }
            }
        }
    }

    .new-job__create {
        min-height: 100vh;
        width: 100%;
        padding: 2rem;
        margin-bottom: 4rem;

        .new-job__create-section {
            background-color: var(--modal-colour);
            border: 1px solid var(--modal-colour-lighter);
            border-radius: var(--border-radius);
            padding: 2rem;
            margin: 2rem 0;

            h2 {
                margin-bottom: 1rem;
            }
        }

        .new-job__create__branding {
            position: relative;
            margin-top: 0;
            padding-bottom: 0;

            .new-job__change-image {
                transition: all 100ms;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: var(--border-radius);
                display: none;
                justify-content: center;
                align-items: center;
            }

            .new-job__banner-img {
                border-radius: var(--border-radius);
                width: 100%;
                height: 300px;
                background-size: cover;
                cursor: pointer;
                position: relative;
                overflow: hidden;

                img {
                    transition: all 200ms;
                    object-fit: cover;

                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    img {
                        filter: blur(5px) brightness(0.6);
                    }

                    .change-image {
                        display: flex;
                    }
                }
            }

            .new-job__logo-img {
                height: 140px;
                width: 140px;
                border-radius: 35px;
                background-size: cover;
                background-position: 50%;
                cursor: pointer;
                position: relative;
                bottom: 70px;
                left: 70px;
                outline: 8px solid var(--modal-colour-dark);
                overflow: hidden;

                img {
                    transition: all 200ms;

                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    img {
                        filter: blur(5px) brightness(0.6);
                    }

                    .change-image {
                        display: flex;
                    }
                }
            }
        }
    }
}