.task-card {
    background-color: var(--modal-colour);
    border-radius: var(--border-radius-small);
    border: 1px solid var(--modal-colour-lighter);
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;

    .task-card-title {
        font-size: 1.2rem;
        font-weight: var(--weight-bold);
    }

    .task-card__budget {
        margin-top: 12px;

        .task-card__budget-title {
            font-weight: var(--weight-bold);
            color: var(--text-color-dark);
            font-size: 0.8rem;
        }

        .task-card__budget-amount {
            display: flex;
            font-size: 1rem;

            .task-card__budget-currency {
                margin-right: 0.5rem;
                font-weight: var(--weight-normal);
            }
        }
    }

    .task-card__dates {
        margin-top: 12px;
        display: flex;
        gap: 12px;

        .task-card__dates-title {
            font-weight: var(--weight-bold);
            color: var(--text-color-dark);
            font-size: 0.8rem;
        }

        .task-card__dates-date {
            font-weight: var(--weight-light);
        }
    }

    &:hover {
        background-color: var(--modal-colour-light);
        box-shadow: 2px 4px 8px #0002;
    }
}