@import '../UI/Fields/TextField.css';
@import '../UI/Fields/RichTextField.css';
@import '../UI/Fields/FileField.css';

.new-submission {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .back {
        background-color: hsla(0, 0%, 0%, 0.6);
        height: 100%;
        width: 100%;

        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }

    .new-submission__modal {
        background-color: var(--modal-colour);
        border-radius: var(--border-radius);
        border: 1px solid var(--modal-colour-light);
        padding: 2rem;
        width: 80vw;
        height: 80vh;

        .new-submission__modal-header {
            display: flex;
            justify-content: space-between;

            .new-submission__modal-exit {
                padding: 6px;
                background-color: var(--red);
                border-radius: 50%;
                height: 24px;
                width: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                path {
                    stroke-width: 8px;
                }

                &:hover {
                    background-color: var(--red-dark);
                }
            }
        }

        .new-submission__modal-details {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            width: 100%;
            height: 90%;
            overflow-y: auto;

            .new-submission__modal__job {
                .new-submission__modal__job-details {
                    margin: 1rem 0;
                }

                .new-submission__modal__job-tasks {
                    .new-submission__modal__job-tasks__select {
                        display: flex;
                        gap: 0.8rem;
                        margin-bottom: 0.8em;

                        .new-submission__modal__job-tasks__select-item {
                            color: var(--text-color-dark);
                            cursor: pointer;
                            padding: 4px 8px;

                            &:hover {
                                border-bottom: 3px solid var(--tertiary-colour);
                                background: linear-gradient(#0000 50%,
                                        hsla(var(--tertiary-hue),
                                            var(--tertiary-saturation),
                                            var(--tertiary-lightness), 0.4));
                            }

                            &:has(input:checked) {
                                color: var(--text-color);
                                font-weight: var(--weight-bold);

                                border-bottom: 3px solid var(--secondary-colour);
                                background: linear-gradient(#0000 50%,
                                        hsla(var(--secondary-hue),
                                            var(--secondary-saturation),
                                            var(--secondary-lightness), 0.4));
                            }
                        }
                    }
                }
            }

            .new-submission__modal__upload {
                position: relative;
                padding: 0 2rem;
                border-left: 2px solid var(--modal-colour-lighterer);
                width: 65%;

                .new-submission__modal__upload-button-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 0;

                    .new-submission__modal__upload-button {
                        background-color: var(--primary-colour);
                        padding: 0.5rem 2rem;
                        border-radius: 2rem;
                        font-size: 1.2rem;
                        font-weight: var(--weight-bold);

                        &:hover {
                            background-color: var(--primary-colour-light);
                        }

                        &:active {
                            background-color: var(--primary-colour-lighter);
                        }

                        &:disabled {
                            cursor: default;
                            background-color: var(--modal-colour-lighter);
                            border: 1px solid var(--modal-colour-lighterer);
                            color: var(--text-color-dark);
                        }
                    }
                }
            }
        }
    }
}