.projectDetails {
    max-height: calc(100vh - var(--header-height-desktop) - 80px);
    overflow-y: auto;
    padding: 20px;

    .title-container{
        margin-bottom: 12px;

        .title-container-right{
            display: flex;
            align-items: center;
            margin-bottom: 32px;

            .logo{
                width: 60px;
                height: 60px;
                border-radius: 60px;
                object-fit: cover;
                user-select: none;

                margin-right: 20px;
            }
    
            .org{
                font-size: var(--font-small);
                color: var(--text-color-dark);
        
                b { 
                    font-weight: var(--weight-light);
                    color: var(--text-color-dark);
                }
            }
        }

        .actions{
            margin: 20px 0;

            * { user-select: none; }

            .join{
                border-radius: var(--border-radius-smaller);
                padding: 4px 16px;
                background-color: var(--primary-colour);
                cursor: pointer;
                font-weight: var(--weight-bold);
                color: var(--text-white);

                &:hover{ background-color: var(--primary-colour-hover); }
                &:active{ background-color: var(--primary-colour-active); }
            }
        }

        .tasks {
            display: flex;
            margin-top: 8px;
    
            li {
                list-style: none;

                .selectTask + label{
                    font-size: var(--font-small);
                    padding: 4px 8px;
                    color: var(--text-color-hover);
                    cursor: pointer;
                    user-select: none;
                }

                .selectTask:hover + label{
                    border-bottom: 2px solid var(--text-color-dark);
                
                    background: linear-gradient(
                        #0000 50%,
                        #aaa6
                        );
                }

                .selectTask:hover + label {
                    font-weight: var(--weight-bold);
                    color: var(--text-color);

                    border-bottom: 2px solid var(--tertiary-colour);
                    background: linear-gradient(
                    #0000 50%,
                    hsla(
                        var(--tertiary-hue), 
                        var(--tertiary-saturation), 
                        var(--tertiary-lightness), 0.4
                    ));
                }

                .selectTask:checked + label {
                    font-weight: var(--weight-bold);
                    color: var(--text-color);

                    border-bottom: 2px solid var(--secondary-colour);
                    background: linear-gradient(
                    #0000 50%,
                    hsla(
                        var(--secondary-hue), 
                        var(--secondary-saturation), 
                        var(--secondary-lightness), 0.4
                    ));
                }
            }
        }
    }

    .description-container{
        margin-bottom: 20px;
    }

    .details-container {
        hr {
            border: 1px solid var(--text-color-dark);
            position: relative;
            width: 80%;
            left: 10%;
        }

        .container {
            margin-top: 12px;
            display: flex;
            justify-content: space-evenly;

            .title {
                font-size: var(--font-small);
                color: var(--text-color-dark);
                font-weight: var(--weight-bold);
            }

            .info {
                font-size: 1.2em;
                font-weight: var(--weight-bold);
            }
        }
    }
}