.guest-nav {
    .nav-list {
        display: inline-flex;
        margin: 0;
        padding: 0;
        align-items: center;

        li {
            margin: 0 12px;

            & a {
                color: var(--text-color);
                font-weight: var(--weight-normal);
            }
        }

        .nav-btn-link a {
            color: var(--text-color);

            &:hover {
                color: var(--primary-colour);
            }
        }

        .nav-btn-log {
            padding: 6px 20px;
            margin: 0 8px;
            border-radius: 40px;
            cursor: pointer;

            &.btn-login {
                background-color: var(--primary-colour);
                margin-left: 12px;

                &:hover { background-color: var(--primary-colour-dark); }
                &:active { background-color: var(--primary-colour-darker); }
            }

            &.btn-signup {
                background-color: hsl(0, 0%, 20%);

                &:hover {
                    background-color: hsl(0, 0%, 15%);
                }
            }

            &:hover {
                color: var(--text-color-hover);
            }
        }
    }
}