@import './sidenav.css';
@import './profilenav.css';

.user-nav {
    .nav-list {
        display: inline-flex;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;

        * {
            text-decoration: none;
        }
    }

    .navMenuIcon {
        stroke-width: 3;
        margin-right: 20px;
        cursor: pointer;

        transition: transform 300ms var(--easing);

        &:hover {
            transform: scale(0.8);
            stroke-width: 4;
        }

        &.active {
            stroke: var(--primary-colour);

            &:hover {
                stroke: var(--primary-colour-hover);
            }
        }
    }

    .nav-right {
        display: flex;
        justify-content: right;
        position: relative;
        
        .user-options {
            position: relative;

            .profilePic {
                height: calc(var(--header-height-desktop) - 20px);
                width: calc(var(--header-height-desktop) - 20px);
                border-radius: calc(var(--header-height-desktop) - 20px);
                transition: outline 200ms;
                cursor: pointer;
                outline: 1px solid #9993;

                &:hover {
                    outline: 1px solid var(--tertiary-colour);
                }
            }
        }
    }
}