@import './sidenav.css';
@import './profilenav.css';

.user-nav {
    .nav-list {
        display: inline-flex;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;

        * {
            text-decoration: none;
        }
    }

    .navMenuIcon {
        stroke-width: 3;
        margin-right: 20px;
        cursor: pointer;

        transition: transform 300ms var(--easing);

        &:hover {
            transform: scale(0.8);
            stroke-width: 4;
        }

        &.active {
            stroke: var(--primary-colour);

            &:hover {
                stroke: var(--primary-colour-hover);
            }
        }
    }

    .nav-center {
        width: 25%;
        justify-content: center;

        .nav-search {
            display: flex;
            background-color: var(--modal-colour);
            border-radius: 50px;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .search-btn {
                margin: 0 10px;
            }

            .search-input {
                width: 100%;
                border: none;
                outline: none;
                background-color: #0000;
                font-weight: 300;
                letter-spacing: 0.6px;
            }

            &:focus-within {
                outline: 1px solid #127796;
            }

            .search-type {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                background-color: var(--bg-colour-secondary);
                border-radius: 50px;
                padding: 4px 8px;
                margin: 4px;

                p {
                    font-size: 0.8em;
                    color: var(--text-color-dark);
                    user-select: none;
                }

                &:hover {
                    background-color: var(--btn-hover);
                }

                &:active {
                    background-color: var(--btn-active);
                }
            }
        }
    }

    .nav-right {
        .user-options {
            position: relative;

            .profilePic {
                height: calc(var(--header-height-desktop) - 20px);
                width: calc(var(--header-height-desktop) - 20px);
                border-radius: calc(var(--header-height-desktop) - 20px);
                transition: outline 200ms;
                cursor: pointer;
                outline: 1px solid #9993;

                &:hover {
                    outline: 1px solid var(--tertiary-colour);
                }
            }
        }
    }
}