.loginWithAccount {
    width: 400px;
    margin: 12px;
    margin-bottom: 28px;

    .other-account {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
        border-radius: var(--border-radius-small);
        cursor: pointer;
        padding: 12px;
        transition: background-color 200ms;

        &:hover { background-color: hsla(0, 0%, 100%, 0.1); }
        &:active { background-color: hsla(0, 0%, 100%, 0.2); }

        .account-contents {
            display: flex;
            align-items: center;
            gap: 12px;

            .account-image {
                display: flex;
                align-items: center;

                img {
                    height: 60px;
                    width: 60px;
                    border-radius: 60px;
                    background-color: black;
                }
            }

            .account {
                .account-name {
                    font-weight: var(--weight-bold);
                    font-size: 1em;
                }

                .account-username,
                .account-type {
                    font-size: 0.8em;
                    color: var(--text-color-hover);
                }
            }
        }

        .account-options {
            .account-options-icon {
                path {
                    stroke: none;
                    fill: var(--text-color);
                }
            }
        }
    }

    .add-account {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 12px;
        cursor: pointer;
        border-radius: var(--border-radius-small);
        transition: background-color 200ms;
        background-color: hsla(0, 0%, 100%, 0.1);

        &:hover { background-color: hsla(0, 0%, 100%, 0.2); }
        &:active { background-color: hsla(0, 0%, 100%, 0.3); }
    }
}

.loginWithProvider {
    width: 400px;
    margin: 12px;
    margin-bottom: 28px;

    .loginWithCard {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border-radius: var(--border-radius-small);
        padding: 12px;
        cursor: pointer;
        margin-bottom: 8px;

        &:hover { background-color: hsla(0, 0%, 100%, 0.1); }
        &:active { background-color: hsla(0, 0%, 100%, 0.2); }

        img {
            height: 40px;
            width: 40px;
            border-radius: 40px;
        }
    }

    .loginWithSBEmail {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-colour);
        border-radius: var(--border-radius-small);
        padding: 12px;
        cursor: pointer;

        &:hover { background-color: var(--primary-colour-dark); }
        &:active { background-color: var(--primary-colour-darker); }
    }
}

.loginWithEmail {
    width: 400px;
    margin: 12px;
    margin-bottom: 28px;

    .input {
        width: inherit;
        min-height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            width: inherit;
        }

        .text {
            width: inherit;
            display: flex;
            justify-content: center;
            margin: 20px 0;

            .container-1 {
                width: 70%;
            }

            p {
                font-weight: var(--weight-bold);
                text-shadow: 0 1px 4px black;
            }
        }

        .additional {
            display: flex;
            justify-content: center;

            * {
                font-size: small;
                color: var(--text-color);
            }

            .container-2 {
                width: 70%;
                display: flex;
                justify-content: space-between;
            }

            label {
                display: flex;
                align-items: center;
                cursor: pointer;
                user-select: none;
                transition: all 200ms;

                .check {
                    transition: all 200ms;
                    outline: 1px solid var(--text-color);
                    border-radius: var(--border-radius-smaller);
                    margin-right: 8px;
                    padding: 4px;
                    stroke: none;
                }
            }

            input:hover+label {
                color: var(--primary-colour);

                .check {
                    outline: 2px solid var(--primary-colour);
                }
            }

            input:checked+label .check {
                stroke: var(--secondary-colour);
                stroke-width: 4px;
                outline: 2px solid var(--primary-colour);
            }

            a {
                cursor: pointer;
                user-select: none;
                transition: all 200ms;

                &:hover {
                    color: var(--primary-colour);
                }
            }
        }
    }

    .enter {
        display: flex;
        justify-content: center;

        input {
            background-color: var(--primary-colour);
            border-radius: var(--border-radius-small);
            border: none;
            outline: none;
            padding: 12px;
            margin-top: 50px;
            transition: all 200ms;
            cursor: pointer;
            width: 60%;
            height: 100%;
    
            &:hover { background-color: var(--primary-colour-dark); }
            &:active { background-color: var(--primary-colour-darker); }
        }
    }
}


/* .modal.login {
    h1 {
        text-shadow: 0 2px 6px black;
    }

    .input {
        width: inherit;
        min-height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            width: inherit;
        }

        .text {
            width: inherit;
            display: flex;
            justify-content: center;
            margin: 20px 0;

            .container-1 {
                width: 70%;
            }

            p {
                font-weight: var(--weight-bold);
                text-shadow: 0 1px 4px black;
            }
        }

        .additional {
            display: flex;
            justify-content: center;

            * {
                font-size: small;
                color: var(--text-color);
            }

            .container-2 {
                width: 70%;
                display: flex;
                justify-content: space-between;
            }

            label {
                display: flex;
                align-items: center;
                cursor: pointer;
                user-select: none;
                transition: all 200ms;

                .check {
                    transition: all 200ms;
                    outline: 1px solid var(--text-color);
                    border-radius: var(--border-radius-smaller);
                    margin-right: 8px;
                    padding: 4px;
                    stroke: none;
                }
            }

            input:hover+label {
                color: var(--primary-colour);

                .check {
                    outline: 2px solid var(--primary-colour);
                }
            }

            input:checked+label .check {
                stroke: var(--secondary-colour);
                stroke-width: 4px;
                outline: 2px solid var(--primary-colour);
            }

            a {
                cursor: pointer;
                user-select: none;
                transition: all 200ms;

                &:hover {
                    color: var(--primary-colour);
                }
            }
        }
    }

    .enter {
        background-color: var(--primary-colour);
        border-radius: var(--border-radius-small);
        border: none;
        outline: none;
        width: 50%;
        padding: 12px;
        margin-top: 50px;
        transition: all 200ms;
        cursor: pointer;

        &:hover { background-color: var(--primary-colour-dark); }
        &:active { background-color: var(--primary-colour-darker); }
    }
} */