@import "../islands/messages/ChatMessages.css";
@import "../islands/messages/ChatList.css";

:root {
    --messages-width: 380px;
    --header-hight: 200px;
    --footer-height: 100px;

    scroll-behavior: smooth;
}

.messages-layout {
    display: flex;
    height: calc(100vh - var(--header-height-desktop));
}