@import './filecard.css';
@import './editfile.css';
@import './uploadfile.css';
@import './reviewfile.css';

.file-uploader-modal {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .file-uploader-modal__backdrop {
        background-color: hsla(0, 0%, 0%, 0.6);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }

    .file-uploader-modal__container {
        background-color: var(--modal-colour);
        border-radius: var(--border-radius);
        padding: 2em;
        border: 1px solid var(--modal-colour-light);
        box-shadow: 0 2px 10px black;

        .file-uploader-modal__header {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .file-uploader-modal__title {
                margin-bottom: 2rem;
            }

            .file-uploader-modal__exit {
                padding: 4px;
                background-color: var(--red);
                cursor: pointer;
                height: 24px;
                width: 24px;
                border-radius: 50%;

                path {
                    stroke-width: 6;
                }

                &:hover {
                    background-color: var(--red-dark)
                }

                &:active {
                    background-color: var(--red-darker)
                }
            }
        }

        .file-uploader-modal__tabs {
            display: flex;
            gap: 0.8rem;
            margin-bottom: 0.8em;

            .file-uploader-modal__tab {
                color: var(--text-color-dark);
                cursor: pointer;
                padding: 4px 16px;

                &:hover {
                    border-bottom: 3px solid var(--tertiary-colour);
                    background: linear-gradient(#0000 50%,
                            hsla(var(--tertiary-hue),
                                var(--tertiary-saturation),
                                var(--tertiary-lightness), 0.4));
                }

                &.file-uploader-modal__tab--active {
                    color: var(--text-color);
                    font-weight: var(--weight-bold);

                    border-bottom: 3px solid var(--secondary-colour);
                    background: linear-gradient(#0000 50%,
                            hsla(var(--secondary-hue),
                                var(--secondary-saturation),
                                var(--secondary-lightness), 0.4));
                }
            }
        }

        .file-uploader-modal__content {
            width: 50vw;
            max-height: 70vh;
            overflow-y: auto;
        }
    }
}

/* .modals {
    .new-file {

        .new-file-selection-container {
            margin-top: 12px;
display: flex;

            label {}
        }

        .modal-content {
            width: 50vw;
            max-height: 70vh;
            overflow-y: auto;
        }
    }
}

.page-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        padding: 8px;
        background-color: var(--modal-colour-lighter);
        border-radius: 20px;

        &:hover {
            background-color: var(--modal-colour-light)
        }

        &:active {
            background-color: var(--modal-colour-dark)
        }
    }

    path {
        stroke-width: 2;
    }

    .right {
        display: flex;
        align-content: center;
        gap: 12px;

        button {
            padding: 8px 20px;
        }

        .save {
            background-color: var(--primary-colour);

            &:hover {
                background-color: var(--primary-colour-dark)
            }

            &:active {
                background-color: var(--primary-colour-darker)
            }
        }

        .next {
            display: flex;
            align-content: center;
            gap: 8px;
        }
    }
}

.label-slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-editor {
    border: 1px solid var(--text-color);
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    overflow-y: scroll;
    padding: 20px;
} */