.upload-file {
    padding: 4px;

    .actions {
        margin-bottom: 12px;

        .top {
            display: flex;
            justify-content: space-between;
            padding-top: 8px;

            .newFile-container {
                input+label {
                    padding: 4px 16px;
                    border-radius: 20px;
                    background-color: var(--primary-colour);
                    cursor: pointer;
                }

                input:hover+label {
                    background-color: var(--primary-colour-dark)
                }

                input:active+label {
                    background-color: var(--primary-colour-darker)
                }
            }

            .search {
                display: flex;
                border-radius: 20px;
                padding: 4px;
                background-color: var(--modal-colour-lighter);

                input {
                    background-color: #0000;
                    text-indent: 12px;
                    width: 200px;
                }

                path {
                    stroke-width: 2;
                }

                .x-icon {
                    padding: 6px;
                    cursor: pointer;

                    &:hover path {
                        stroke: var(--text-color-hover)
                    }

                    &:active path {
                        stroke: var(--text-color-active)
                    }
                }

                .search-icon {
                    padding: 4px;
                    border-radius: 20px;
                    background-color: var(--primary-colour);
                    cursor: pointer;
                    outline: 4px solid var(--modal-colour);
                    transform: scale(1.2);

                    &:hover {
                        background-color: var(--primary-colour-dark)
                    }

                    &:active {
                        background-color: var(--primary-colour-darker)
                    }
                }
            }
        }

        .file-locations {
            margin-top: 12px;

            ul {
                display: flex;
                gap: 8px;

                li {
                    input+label {
                        padding: 4px 16px;
                        background-color: #0006;
                        cursor: pointer;
                        border-radius: 20px;
                        font-size: 0.8em;
                    }

                    input:hover+label {
                        background-color: #0002
                    }

                    input:checked+label {
                        background-color: hsla(var(--primary-hue), var(--primary-saturation), var(--primary-lightness), 0.5)
                    }
                }
            }
        }
    }

    .uploaded-files-container {
        .uploaded-files {
            display: flex;
            gap: 12px;
            overflow-x: scroll;
            padding: 4px;
        }
    }

    .storage-files-container {
        .storage-files {
            display: flex;
            gap: 12px;
            flex-wrap: wrap;
            padding: 4px;
        }
    }

    h6 {
        color: var(--text-color-dark-hover);
        font-size: 0.8em;
    }
}