.profileLayout {
    min-height: 100vh;
    width: 100%;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px repeat(3, 1fr);

    grid-column-gap: 20px;
    grid-row-gap: 20px;

    section {
        border-radius: var(--border-radius);
        background-color: var(--modal-colour-dark);
        padding: 28px 40px;
    }

    .banner {
        grid-area: 1 / 1 / 2 / 4;
        position: relative;
        padding: 0;

        .banner-img {
            border-radius: var(--border-radius);
            position: absolute;
            height: 200px;
            width: 100%;
            object-fit: cover;
        }

        .profile-img {
            height: 140px;
            width: 140px;
            border-radius: 140px;
            object-fit: cover;
            position: absolute;
            bottom: -40px;
            left: 40px;
            outline: 8px solid var(--modal-colour-dark);
        }
    }

    .user-info {
        grid-area: 1 / 1 / 3 / 3;
        padding-top: 0;

        .user-info-container {
            display: flex;
            margin-top: 250px;

            .contents {
                width: 100%;

                .actions {
                    display: flex;
                    gap: 12px;
                    margin-top: 28px;

                    button {
                        background-color: var(--modal-colour-light);
                        padding: 8px 16px;
                        border-radius: var(--border-radius-small);
                        font-weight: var(--weight-bold);

                        &:hover { background-color: var(--modal-colour-lighter); }
                        &:active { background-color: var(--modal-colour-lighterer); }

                        &.connect {
                            background-color: var(--primary-colour);

                            &:hover { background-color: var(--primary-colour-light); }
                            &:active { background-color: var(--primary-colour-lighter); }
                        }
                    }
                }
            }
    
            .additional-actions {
                position: relative;
                width: 100%;

                .additional-actions-container {
                    display: flex;
                    float: right;
                    position: relative;
                }
            }
        }
    }

    .about {
        grid-area: 2 / 3 / 4 / 4;
    }

    .activity {
        grid-area: 3 / 1 / 5 / 3;

        .select {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;

            .select-tab {
                display: flex;

                li {
                    input + label {
                        cursor: pointer;
                        padding: 4px 8px;
                        font-size: var(--font-small);
                        user-select: none;
                        color: var(--text-color-hover);
                    }

                    input:hover + label {
                        font-weight: var(--weight-bold);
                        color: var(--text-color);

                        border-bottom: 2px solid var(--tertiary-colour);
                        background: linear-gradient(
                        #0000 50%,
                        hsla(
                            var(--tertiary-hue), 
                            var(--tertiary-saturation), 
                            var(--tertiary-lightness), 0.4
                        ));
                    }

                    input:checked + label {
                        font-weight: var(--weight-bold);
                        color: var(--text-color);

                        border-bottom: 2px solid var(--secondary-colour);
                        background: linear-gradient(
                        #0000 50%,
                        hsla(
                            var(--secondary-hue), 
                            var(--secondary-saturation), 
                            var(--secondary-lightness), 0.4
                        ));
                    }
                }
            }

            .filter {
                display: flex;
                gap: 8px;

                .icon {
                    path {
                        stroke: var(--text-color);
                        stroke-width: 2px;
                    }
                }
            }
        }

        .content {
            
        }
    }
}