.chat-message {
    display: flex;
    justify-content: flex-start;

    .chat-message__wrapper {
        display: flex;
        flex-direction: column;
        width: fit-content;
        max-width: 80%;
    }

    .chat-message__user {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 4px;
    }

    .chat-message__user-photo {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        object-fit: cover;
    }

    .chat-message__user-name {
        font-size: 0.7em;
        color: var(--text-color-dark);
    }

    .chat-message__content {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .chat-message__body {
        border-radius: var(--border-radius-smaller);
        background-color: var(--modal-colour-light);
        margin-top: 4px;
        padding: 4px 8px;
        max-width: 500px;
        display: flex;
        flex-direction: column;
    }

    .chat-message__text-content {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .chat-message__align {
        display: flex;
        flex-direction: column;
    }

    .chat-message__text {
        font-size: 0.9em;
        line-height: 1.3em;
        overflow-wrap: break-word;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        text-overflow: ellipsis;
    }

    .chat-message__see-more {
        font-size: 0.8em;
        font-weight: var(--weight-bold);
        cursor: pointer;
        user-select: none;
        background: none;
        border: none;
        color: var(--secondary-colour);
        padding: 0;
        align-self: flex-start;
    }

    .chat-message__see-more:hover {
        color: var(--secondary-colour-dark);
    }

    .chat-message__attachments {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 8px;
    }

    .chat-message__attachment-image {
        max-height: 100px;
        width: auto;
        object-fit: scale-down;
        border-radius: var(--border-radius-smaller);
    }

    .chat-message__text ol {
        text-align: left;
    }

    .chat-message__text li& {
        list-style: none;
        position: relative;


        &>.list-marker:before {
            display: inline-block;
            margin-right: 0.4em;
            width: 1.2em;
            text-align: right;
            white-space: nowrap;
        }

        &[data-list="bullet"]>.list-marker:before {
            content: '\2022';
            /* Bullet */
        }

        &[data-list="ordered"] {
            counter-increment: list-0;
        }

        &[data-list="ordered"]>.list-marker:before {
            content: counter(list-0, decimal) '.';
        }

        &.indent-1[data-list="ordered"] {
            counter-increment: list-1;
        }

        &.indent-1[data-list="ordered"]>.list-marker:before {
            content: counter(list-1, lower-alpha) '.';
        }

        &.indent-2[data-list="ordered"] {
            counter-increment: list-2;
        }

        &.indent-2[data-list="ordered"]>.list-marker:before {
            content: counter(list-2, lower-roman) '.';
        }
    }

    .chat-message__text [data-list] {
        counter-set: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;

        &.indent-1 {
            counter-set: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
        }

        &.indent-2 {
            counter-set: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
        }
    }

    .chat-message__options {
        display: none;

        .chat-message__option-icon {
            cursor: pointer;
            padding: 4px;
            border-radius: var(--border-radius-smaller);
        }

        .chat-message__option-icon {
            fill: var(--text-color-dark);
            stroke: none;

            &:hover {
                fill: var(--text-color-dark-hover);
            }
        }
    }

    &.chat-message--sender {
        justify-content: flex-end;

        .chat-message__body {
            text-align: right;
            background-color: hsla(var(--primary-hue), var(--primary-saturation), var(--primary-lightness), 0.5);
        }

        .chat-message__text-content {
            justify-content: flex-end;
        }
    }

    &:hover {
        .chat-message__options {
            display: flex;
        }
    }
}