.resize-container {
    position: relative;
}

.resize-bar {
    background-color: var(--bg-colour-secondary);
    width: 6px;
    height: 100vh;
    cursor: ew-resize;
    position: fixed;
    z-index: 5;

    &:hover {
        background-color: var(--modal-colour-darker);
    }
}