@import "../../components/messages/input.css";
@import "../../components/messages/message.css";

.chat-messages {
    position: relative;
    width: 100%;

    .chat-messages__list-container {
        padding: 40px;
        padding-top: calc(2 * var(--header-height));
        padding-bottom: calc(2 * var(--footer-height));
    }
}